body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-balance-amount
{
  font-size: 40px;
}
.card-account-amount
{
  font-size: 27px;
}
.history-li-padding
{
  padding:15px 10px 20px 10px !important;
}

.header-nav
{
  margin-bottom: 20px;
}
.history-heading
{
  padding: 15px 0 20px 20px;
  border-radius: 3px;
  text-align: center;
  margin: 0 0 20px 0;
}
.transaction-input
{
 margin: 20px auto 20px auto !important;
}
.transaction-btn
{
  width: 50%;
}

.balance-card
{
  margin:0px;
}

.footer
{
  width: 100%;
  background-color: #37474f;
  color:#fff;
  text-align: center;
  margin-top: 10vh;
  padding:15px 0 15px 0;
  font-size: 19px;
}

.custom-col-container
{
  background-color: white;
  padding: 20px 15px 20px 15px !important;
  border-radius: 8px;

}

#root
{
  background-color: tomato;
}